@import '../../styles/partials/variables';

.buttonLight {
  display: inline-flex;
  margin: 0.83rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 150ms linear;
  text-decoration: none;
  text-transform: none;
  border: 2px solid $secondary-colour;
  border-radius: 1px;
  color: $secondary-colour;
  font-size: $font-size-base;
  font-weight: $font-weight-strong;

  &:hover {
    transition: all 150ms linear;
    background-color: $accent-colour;
    border: 2px solid $accent-colour;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    opacity: .75;
    outline-offset: -4px;
  }
}

.buttonDark {
  display: inline-flex;
  margin: 0.83rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 150ms linear;
  text-decoration: none;
  text-transform: none;
  border: 2px solid $primary-colour;
  border-radius: 1px;
  color: $primary-colour;
  font-size: $font-size-base;
  font-weight: $font-weight-strong;

  &:hover {
    transition: all 150ms linear;
    background-color: $primary-colour;
    color: $secondary-colour;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    opacity: .75;
    outline-offset: -4px;
  }
}
