@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

// Colors
$primary-colour: linear-gradient(180deg, rgba(90,185,234,1) 0%, rgba(132,206,235,1) 100%);
$secondary-colour: #fff;
$accent-colour: #5680E9;

$blue: #5680E9;
$light-blue: #5AB9EA;
$lighter-blue: #84CEEB;

// Typography
$font-family-serif:       "Merriweather", serif !default;
$font-family-base:        $font-family-serif !default;

$font-size-base:          1rem !default;

$line-height-base:        1.5 !default;

$font-weight-light:       300 !default;
$font-weight-normal:      400 !default;
$font-weight-strong:      500 !default;
$font-weight-bold:        700 !default;

$font-weight-base:        $font-weight-normal !default;

// Main Styles
$body-bg:                 $secondary-colour !default;
$text-color:              $secondary-colour !default;
