@import "../../styles/partials/variables";

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 10px;
    cursor: pointer;

    svg {
        transition: color 0.5s ease;
        color: $secondary-colour;
        &:hover {
            color: $accent-colour;
        }
    }
}

.iconDark {
    margin: 10px;
    cursor: pointer;

    svg {
        transition: color 0.5s ease;
        color: $primary-colour;
        &:hover {
            color: $accent-colour;
        }
    }
}