@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10%;

    @include respond(tablet){
        flex-direction: column;
    }

    .left {
        flex: 1;
        display: inherit;
        justify-content: flex-start;
        margin: 0.83rem 0;
        img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
            margin: 10px;
            @include respond(mobile){
                width: 200px;
                height: 200px;
                margin: 0 10px;
            }
        }
        
        @include respond(tablet){
            padding: 20px;
            justify-content: center;
            margin: 0;
        }
    }

    .right {
        flex: 2;
        margin: 0.83rem 0;
        h2 {
            font-size: 2rem;
            text-align: center;
            font-weight: 900;
            margin: 0;
            color: $accent-colour;
        }

        p {
            font-size: 1.2rem;
            line-height: 2.2rem;
            text-align: center;
            color: $primary-colour;
            margin: 10px;
            @include respond(mobile){
                font-size: 1rem;
            }
        }
    }
}
