@import "../../styles/partials/variables";

.section {
    padding: 40px 10%;
    text-align: center;
    h2 {
        color: $primary-colour;
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
        display: flex;
        margin: 20px 0 0;
        flex: 1;
        justify-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 400px;

        input {
            padding: 15px;
            margin: 10px;
            transition: all 150ms linear;
            text-decoration: none;
            text-transform: none;
            border: 2px solid $primary-colour;
            border-radius: 1px;
            color:  $primary-colour;
            font-family: $font-family-base;
            font-size: $font-size-base;
            font-weight: $font-weight-base;
            line-height: $line-height-base;

            &:active {
                transition: all 150ms linear;
                opacity: .75;
              }
            
              &:focus {
                outline: 1px dotted white;
                outline-offset: -4px;
              }
        }

        textarea {
            margin: 10px;
            padding: 15px;
            height: 200px;
            transition: all 150ms linear;
            text-decoration: none;
            text-transform: none;
            border: 2px solid $primary-colour;
            border-radius: 1px;
            color:  $primary-colour;
            font-family: $font-family-base;
            font-size: $font-size-base;
            font-weight: $font-weight-base;
            line-height: $line-height-base;

            &:active {
                transition: all 150ms linear;
                opacity: .75;
              }
            
              &:focus {
                outline: 1px dotted white;
                outline-offset: -4px;
              }
        }
    }
}

.button {
    margin: 10px;
    padding: 15px 50px;
    cursor: pointer;
    transition: all 150ms linear;
    text-decoration: none;
    text-transform: none;
    border: 2px solid $primary-colour;
    background-color:  $primary-colour;
    border-radius: 1px;
    color: $secondary-colour;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
  
    &:hover {
      transition: all 150ms linear;
      background-color:  $accent-colour;
      border: 2px solid $accent-colour;
      color: $secondary-colour;
    }
  
    &:active {
      transition: all 150ms linear;
      opacity: .75;
    }
  
    &:focus {
      outline: 1px dotted white;
      outline-offset: -4px;
    }
  }