@import '../../styles/partials/variables';

.footer {
    background: $primary-colour;
    padding: 50px;
    text-align: center;

    p {
        color: $secondary-colour;
    }

    img {
        width: 100px;
    }
}